@import 'normalize.css';
button:focus {outline:0;}

html, body {
	height: 100%;
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #50585D;
	background: #1A1A1A;
}

html {
	font-size: 16px;
}

main, #game {
	height: 100%;
	width: 100%;
}

#game {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	user-select: none;
}

#game polygon {
	cursor: pointer;
}

#game:not(.success):not(.failure):not(.stuck) h2 {
	margin: 0;
	color: white;
}

#abilities button {
	color: white;
	background: none;
	-webkit-appearance: none;
	margin-right: 12px;
	cursor: pointer;
}

#abilities button:disabled {
	color: grey;
	border-color: grey;
}

#abilities button.barrier.active {
	background: cyan;
	color: #333;
	border-color: cyan;
}

#abilities button.teleport.active {
	background: yellow;
	color: #333;
	border-color: yellow;
}

#game.success {
	color: lightgreen;
}

#game.failure {
	color: red;
}

#game.stuck {
	color: orange;
}