@import 'normalize.css';

html, body {
	height: 100%;
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #50585D;
	background: #1A1A1A;
}

html {
	font-size: 16px;
}

main, #game {
	height: 100%;
	width: 100%;
}

#game {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#game:not(.success):not(.failure) h2 {
	margin: 0;
	color: white;
}

#abilities button {
	color: white;
	background: none;
	-webkit-appearance: none;
	margin-right: 12px;
}

#game.success {
	color: lightgreen;
	align-items: center;
}

#game.failure {
	color: red;
	align-items: center;
}